
<div class="panel panel-primary">
    <div class="panel-body">
      
        <h3>User: {{user.firstName | uppercase}}</h3>
        <br>

        <form #userEditForm='ngForm' (ngSubmit)="save(userEditForm)">
        
        <div class="row col-6">
          <div class="form-group col-lg-12">
            <label >First Name</label>
            <input class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" placeholder="First Name" required >
          </div>
        </div>

        <div class="form-group col-lg-12">
          <label class="">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required ngModel/>
        </div>

        <div class="form-group col-lg-12">
          <label class="">E-mail</label>
          <input type="text" class="form-control" [(ngModel)]="user.email" name="email" required ngModel/>
        </div>
          
        <div class="row form-group">
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
  
      </form>
  
    </div>
  </div>