
<div class="panel panel-primary">
  <div class="panel-body">
    
    <form #regForm='ngForm' (ngSubmit)="onSubmit(regForm)">
      
      <div class="row col-6">
        <div class="form-group col-lg-12">
          <label class="">First Name</label>
          <input type="text" class="form-control"  [(ngModel)]="user.firstName" name="firstName" id="firstName" required ngModel #firstName="ngModel"/>
          <span class="help-bpx" *ngIf="firstName.touched && !firstName.valid ">Please enter the First Name Value</span>
        </div>

        <div class="form-group col-lg-12">
          <label class="">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required ngModel/>
        </div>

        <div class="form-group col-lg-12">
            <label class="">E-mail</label>
            <input type="text" class="form-control" [(ngModel)]="user.email" name="email" required ngModel/>
          </div>
      </div>

      <div class="row form-group">
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>

    </form>

  </div>
</div>