<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">A5-CRUD</a>

  <div class="collapse navbar-collapse" id="nav-a5-crud">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/list-users" routerLinkActive="">List Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create" routerLinkActive="">Create</a>
      </li>      
    </ul>
  </div>  
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
